<!-- Header och global navigering -->
<header>
    <a asp-controller="Home" asp-action="Index" title="Startsida"><h1>Selmas Reselogg</h1></a>
    <nav id="globalNav">
        <ul>
            <li><a asp-controller="Home" asp-action="Index" title="Startsida">Startsida</a></li>
            <li><a asp-controller="Home" asp-action="NewTravel" title="Lägg till en ny resa">Ny resa</a></li>
            <li><a asp-controller="Home" asp-action="About" title="Om webbplatsen">Om webbplatsen</a></li>
        </ul>
    </nav>
</header>