@model moment2.Models.Travel

@{
    ViewData["Title"] = "Startsida";
}

<h1>@ViewData["TitleIndex"]</h1>
<h3>@ViewBag.subheading</h3>

<!-- Knapp som är en länk till "Ny resa"-sidan med en bakgrundsbild -->
<div id="imageBox">
    <a asp-controller="Home" asp-action="NewTravel" title="Lägg till en ny resa"><div id="imageBtn">Lägg till en ny resa</div></a>
</div>